* {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "VT323";
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 0;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 1px 1px #efefef;
  margin-bottom: 5rem;

  h1 {
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 1rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-size: 5rem;
    text-shadow: 1px 1px #212121;
  }
}

.imgIcon {
  text-align: center;
  height: 7.5rem;
  width: 14.5rem;

  img {
    height: inherit;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
}

.controlCenter {
  margin-bottom: 1rem;

  .imgWrapper {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-left: 5%;

    img {
      height: inherit;
      width: 100%;
    }
  }

  ul {
    margin-left: 3%;
    margin-right: 3%;
    width: 50%;
    display: inline-block;

    li {
    list-style-type: none;
    display: inline-block;
    width: 15%;
    margin: 2%;
    font-size: 1.5rem;
    text-align: center;
    }
  }
}

.inputRow {
  font-size: 1.3rem;
  margin-bottom: 3rem;

  .categoryInput {
    text-align: center;
    height: 2.5rem;

    select {
      width: 60%;
      line-height: inherit;
      height: inherit;

      option {
        line-height: inherit;
        height: inherit;
      }
    }
  }

  .nameInput {
    text-align: center;

    input {
      width: 60%;
      line-height: inherit;
      height: inherit;
    }
  }

  .checkoutBtn {
    background-color: #3afea1;
    line-height: inherit;
    height: inherit;
  }
}

.tableRow {
  border: 1px solid #efefef;
  box-shadow: 0 0 2px 2px #ababab;
  margin-bottom: 10rem;

  .labelRow {
    border-bottom: 1px solid #efefef;

    div {
      font-size: 1.5rem;
      border: 1px solid #efefef;
      height: 3rem;
    }
  }
  .imgContainer {
    height: 25rem;
    border: 1px solid #efefef;

    img {
      height: inherit;
      width: 100%;
    }
  }

  .teaRow {
    border-bottom: 1px solid #efefef;
    height: 25rem;

    div {
      height: inherit;
      border: 1px solid #efefef;
    }
  }
}

.headerRow {

  div {
    border-left: 2px solid #efefef;
    border-top: 2px solid #efefef;
    border-right: 2px solid #efefef;
  }
}
.align {
  height: 40rem;

  div {
    border: 1px solid #efefef;
    height: inherit;

    button {
      margin-top: 2rem;
      margin-left: 1rem;

      :nth-child(odd) {
        margin-left: 3rem;
      }
    }
  }
}

.right {
  float: right;
}
