<div class='row'>
  <div class='col-md-10 col-md-offset-1 align'>
    <div class='row'>
      <div class='col-md-7'>
        <h3>{{baggedItem.name}}</h3>
        <img src='{{baggedItem.imageUrl}}'>
        <h5>Caffeine Content: {{baggedItem.caffeineScale}} mg/serving</h5>
        <h5>Ingredients: {{baggedItem.ingredients}}</h5>
        <h5>Rating: {{baggedItem.rating}}</h5>
      </div>
      <div class='col-md-1'>
        <h5>{{baggedItem.num}}</h5>
      </div>
      <div class='col-md-1'>
        <h5>{{baggedItem.num * baggedItem.price/100 | currency}}</h5>
      </div>
      <div class='col-md-3'>
        <button class='btn btn-warning'>Edit</button>
        <button class='btn btn-danger'>Remove</button>
      </div>
    </div>
  </div>
</div>
