<div class='row' ng-init='edit=false; TC.sumTotal(baggedItem)'>
  <div class='col-md-10 col-md-offset-1 align'>
    <div class='row'>
      <div class='col-md-7'>
        <h3>{{baggedItem.name}}</h3>
        <img src='{{baggedItem.imageUrl}}'>
        <h5>Caffeine Content: {{baggedItem.caffeineScale}} mg/serving</h5>
        <h5>Ingredients: {{baggedItem.ingredients}}</h5>
        <h5>Rating: {{baggedItem.rating}}</h5>
      </div>
      <div class='col-md-1'>
        <h5 ng-show='!edit'>{{baggedItem.num}}</h5>
        <input ng-show='edit' type='number' min='1' max='10' ng-model='baggedItem.num'>
      </div>
      <div class='col-md-1'>
        <h5>{{baggedItem.num * baggedItem.price/100 | currency}}</h5>
      </div>
      <div class='col-md-3'>
        <button class='btn btn-warning' ng-click='edit=!edit'>Edit</button>
        <button class='btn btn-danger' ng-click='TC.unbag(baggedItem)'>Remove</button>
      </div>
    </div>
  </div>
</div>
