<div class='row teaRow'>
  <div class='col-md-4 imgContainer'>
    <img src='{{tea.imageUrl}}'>
  </div>
  <div class='col-md-5'>
    <h3>{{tea.name}}</h3>
    <h5>Price: {{tea.price/100 | currency}}</h5>
    <h5>Rating: {{tea.rating}}</h5>
    <h5>Ingredients: {{tea.ingredients}}</h5>
    <h5>Caffeine Content: {{tea.caffeineScale}} mg/serving</h5>
    <h5>Categories: </h5>
    <span ng-repeat='category in tea.categories'> {{category}} </span>

  </div>
  <div class='col-md-3'>
    <form name='quantity'>
      <label>Quantity</label>
      <input type='number' ng-model='num' min='1' max='10' ng-init='num=1'>
      <button class='btn btn-info' ng-click='TC.teaBag(tea, num)' ng-disabled='!quantity.$valid'>Bag It!</button>
    </form>
  </div>
</div>
